@mixin media($query) {
  @if $query == tabletAndUp {
    @media (min-width: 50rem) { @content; }
  }

  @if $query == phoneAndUp {
    @media (min-width: 30rem) { @content; }
  }

  @if $query == phone {
    @media (max-width: 54rem) { @content; }
  }
  
  @if $query == desktopAndUp {
    @media (min-width: 1300px) { @content; }
  }
}

@mixin grid-layout($columns, $padding: 0) {
  grid-template-columns: repeat($columns, minmax(var(--block-min-width), 1fr));
  padding-left: $padding;
  padding-right: $padding;
}
