<div class="empty-state empty-state--only-child <%= 'empty-state--dark' if attribute == "bio" %>">
  <p class="empty-state__text">
    There's no <%= remove_underscore(attribute) %> yet.
  </p>

  <%= link_to "+ Add #{remove_underscore(attribute)}", 
        edit_user_attributes_path(user, attribute: attribute),
        data: { 
          controller: "action-authorisations", 
          action_authorisations_target: "user" 
        } %>

</div>