<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    There's no <%= attribute %> yet.
  </p>

  <%= link_to "Add #{remove_underscore(attribute)}", 
      edit_user_attributes_path(user, attribute: attribute) %>
</div>