<div class="text-center">
  <h1>Edit <%= @attribute %></h1>

  <%= turbo_frame_tag dom_id(@user, "edit_#{@attribute}") do %>
    <%= render "form", user: @user, attribute: @attribute %>
  <% end %>
</div>