@use "mixins/media" as *;

.container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 90rem;
  }

  &--narrow {
    @include media(tabletAndUp) {
      max-width: 60rem;
    }
  }

  &--more-narrow {
    @include media(tabletAndUp) {
      max-width: 40rem;
    }
  }
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
}

.container-divider {
  margin-top: var(--space-xxxxl);
  margin-bottom: var(--space-xxxl);
  width: 100%;
  border-bottom: var(--border);
}