.flex-column {
  display: flex;
  flex-direction: column !important;
}

.flex-end {
  display: flex;
  justify-content: flex-end !important;
}

.d-flex {
  display: flex !important;
}

.d-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;

  &--actions {
    gap: 1.5rem;
  }
}
