.mb-xxxxl {
  margin-bottom: var(--space-xxxxl);
}

.mb-xxxl {
  margin-bottom: var(--space-xxxl);
}

.mb-xxl {
  margin-bottom: var(--space-xxl);
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

.mb-l {
  margin-bottom: var(--space-l);
}

.mt-xxxxl {
  margin-top: var(--space-xxxxl);
}

.mt-xxxl {
  margin-top: var(--space-xxxl);
}

.mt-xxl {
  margin-top: var(--space-xxl);
}

.mx-xxxl {
  margin-left: var(--space-xxxl);
  margin-right: var(--space-xxxl);
}

.mx-xxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}

.mx-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.mx-l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.my-xxxl {
  margin-bottom: var(--space-xxxl);
  margin-top: var(--space-xxxl);
}

.my-xxl {
  margin-bottom: var(--space-xxl);
  margin-top: var(--space-xxl);
}

.my-xl {
  margin-bottom: var(--space-xl);
  margin-top: var(--space-xl);
}

.my-l {
  margin-bottom: var(--space-l);
  margin-top: var(--space-l);
}

