<div class="footer">
  <div class="footer__links">
  </div>
  <div class="footer__copyright">
    Made with <i class="fas fa-heart"></i> by &copy;<a href="https://www.margareti.com" target="_blank">Margareti</a>
  </div>
</div>

