<header class="navbar">
  
  <%= link_to "LOGO", root_path, class: "navbar__brand" %>
  
  <% if user_signed_in? %>
    <div class="navbar__name">
      <%= current_user.email %>
    </div>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--secondary" %>
  <% else %>
    <%= link_to "Sign in",
                new_user_session_path,
                class: "btn btn--secondary navbar__right" %>
  <% end %>
</header>

