<div class="toggle-wrapper my-m" data-controller="action-btns">
  <label class="visible-label button" for="action-btns"><%= Icon.call("edit") %></label>
  <input data-action-btns-target="checkbox" class="toggle" type="checkbox" value="0" id="action-btns" data-action="change->action-btns#toggleActionBtns">
  <label class="form-check-label" for="action-btns"></label>
</div>
