<%= turbo_frame_tag nested_dom_id(item, "edit") do %>
  <div class="block__item__title">
    <%= markdown_links_to_html item.name %>
    <%= actions_for(item) %>
    <%= accordion_toggle_btn(item) %>
  </div>
<% end %>