<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    There are no posts yet.
  </p>

  <% if policy(user).update? %>
    <%= link_to "Add post",
              new_user_post_path(user),
              class: "btn btn--dark",
              target: "_top" %>
  <% end %>
</div>