<div class="narrow-container">
  
  <div class="my-header">
    <h1>New post</h1>
  </div>

  <%= render "form", post: @post %>

  <div>
    <%= link_to sanitize("&larr; Back to post"), posts_path %>
  </div>
</div>