.avatar-large {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--color-avatar);
  border: var(--border);

  &--empty-state {
    border-style: dashed !important;
  }
}

.dark-mode .avatar-large {
  background-color: var(--color-avatar);
}
