.dropzone {
  border: var(--border) !important;
  border-style: dashed !important;
  border-radius: var(--space-xxxs) !important;
  margin-top: 6px !important;
  
  .dz-image-preview {
    z-index: 1 !important;
  }
}