.CodeMirror-fullscreen {
  z-index: 99;
  margin-top: 3rem;
}

.CodeMirror-scroll {
  z-index: 99;
}

.editor-toolbar.fullscreen {
  margin-top: 3rem;
}

.EasyMDEContainer {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
  .editor-toolbar {
    border: var(--border) !important;
  }
  .cm-s-easymde {
    border: var(--border) !important;
    border-top: none !important;
  }
}

.form__container--no-flex {
  .EasyMDEContainer {
    background-color: var(--color-background) !important;
  }
}