.empty-state {
  padding: var(--space-m);
  border: var(--border);
  margin: 0 1rem;
  border-style: dashed;
  text-align: center;
  z-index: 9;

  &__text {
    font-size: var(--font-size-l);
    color: var(--color-text-header);
    margin-bottom: var(--space-l);
    font-weight: bold;
  }

  &--dark {
    border-color: var(--color-text-muted-light);
  }

  &--new-block {
    margin: 0 !important;
    padding: var(--space-s) !important;
  }

  &--only-child {
    display: none;

    &:only-child {
      display: revert;
    }
  }
}