.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);

  &__checkbox {
    margin-right: var(--space-xs);
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }

  &__container {
    display: flex;
    gap: 6px;
    justify-content: center;
    // margin-bottom: 2em;

    &--bio {
      flex-direction: column;
    }  
    
    &--photo {
      flex-direction: column;
      align-items: center;
    }

    &--item-content {
      width: 100% !important;
    }

    &__actions {
      display: flex;
      gap: 6px;
      margin-top: auto;
      align-items: flex-end;
    }

    &__input {
      
      &--full_name {
        line-height: 2em;
      }

      &--bio {
        
      }

      &--photo {
        // width: 200px !important;
        line-height: 2em;
        vertical-align: middle !important;
      }
    }
  }
}

.form-inputs input {
  margin-bottom: var(--space-xs);
}

.upload-photo {
  padding: 10px 24px;
  cursor: pointer;
  font-weight: 500;
  color: var(--color-dark) !important;
  background-color: var(--color-light) !important;
  border-radius: 5px;
}

