@use "mixins/media" as *;

// Markdown Content Styles
.markdown-content {
  line-height: 1.6;
  margin: auto;

  @include media(phone) {
    max-width: 100%;
  }

  @include media(tabletAndUp) {
    max-width: 800px;
  }

  @include media(desktopAndUp) {
    max-width: 1000px;
  }

  p {
    margin-bottom: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  // Specific heading sizes
  h1 { font-size: 2em; }
  h2 { font-size: 1.75em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.25em; }
  h5 { font-size: 1em; }
  h6 { font-size: 0.875em; }

  ul, ol {
    margin-left: 2em;
    margin-bottom: 1em;
  }

  li {
    margin-bottom: 0.5em;
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 1em;
    margin: 1em 0;
  }

  pre {
    padding: 1em;
    overflow-x: auto;
  }

  code {
    padding: 0.2em 0.4em;
  }

  .code-snippet {
    margin-bottom: 0.7rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    @include media(phone) {
      display: block;
      overflow-x: auto;
    }
    @include media(tabletAndUp) {
      display: table;
    }
  }

  th, td {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
  }

  th {
    font-weight: bold;
    background-color: #f5f5f5;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 1em;
    border-radius: var(--border-radius);
  }

  a {
    font-weight: bold;
  }

  &--small {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0.5em !important;
      // margin-bottom: 0.5em;
      // font-weight: bold;
    }
  }
}