<div class="empty-state empty-state--dark">
  <p class="empty-state__text">
    There's nothing here yet.
  </p>

  <%= link_to "Add some content", 
      edit_item_content_path(item), 
      class: "action-btn", 
      data: {
        controller: "action-authorisations",
        action_authorisations_target: "user"
      } %>
</div>